@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  background-color: #ecf0f1;
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: #ecf0f1;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.title {
  height: 70px;
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 50px;
  line-height: 70px;
  background-color: #e74c3c;
  box-shadow: 0px 0px 10px 2px rgba(81, 81, 81, 0.2);
}
ul.days {
  height: 10px;
  padding-left: 0px;
  color: #616161;
}
ul{
  padding-left: 0px;
}
.days > .container > li {
  float: left;
  list-style: none;
  display: block;
  width: 166px;
  font-weight: bold;
}
.day {
  width: 166px;
  list-style: none;
  float: left;
}
.clocks {
  color: #616161;
}
.clock {
  margin-left: 6px;
  margin-bottom: 10px;
  border-radius: 3px;

}
.clock-1 {
  height: 60px;
}
.clock-2 {
  height: 130px;
}
.clock-3 {
  height: 200px;
}
.clock-4 {
  height: 270px;
}
.purple {
  background-color: #9b59b6;
}
.green {
  background-color: #2ecc71;
}
.sweetblue {
  background-color: #3498db;
}
.badyellow {
  background-color: #96281B;
}
.red {
  background-color: #e74c3c;
}
.midnightblue {
  background-color: #2c3e50;
}
.turquoise {
  background-color: #1abc9c;
}
.orange {
  background-color: #e67e22;
}
.shadow {
  box-shadow: 0px 0px 6px 3px rgba(81, 81, 81, 0.06);
}
hr {
  width: 90%;
  border: 0px;
  height: 1px;
  background-color: #ecf0f1;
  opacity: 0.15;
}
.lesson {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.events {
  color: #616161;
  width: 820px;
  text-align: left;
  margin-left: 10px;
  float: left;
  opacity: 0.9;

}
ul > .container > li {
  list-style: none;
}
.event {
  height: 40px;
  line-height: 40px;
}
.event-time {
  text-align: right;
}
.term {
  height: 60px;
  line-height: 60px;
  font-weight: bold;
}
